@charset "UTF-8";
* {
  font-family: "Exo 2", cursive;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

header, nav, content, footer {
  padding: 20px 0 100px 0; }

header {
  height: 200px;
  background: #FE6847;
  width: 99%;
  margin-left: 0.5%; }
  header .header_text {
    font-size: 31px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 20px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px; }
  .wrapper nav {
    background-color: #FBB13C;
    width: 29%; }
    .wrapper nav .nav_text {
      font-size: 31px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin-bottom: 40px; }
    .wrapper nav .menu {
      text-align: center; }
      .wrapper nav .menu li {
        list-style-type: none;
        margin-top: 20px; }
        .wrapper nav .menu li a {
          color: #fff;
          text-decoration: none; }
          .wrapper nav .menu li a::after {
            content: "";
            width: 0px;
            margin: 0 auto;
            display: block;
            background: #fff;
            height: 2px; }
        .wrapper nav .menu li:hover a::after {
          width: 100px;
          -webkit-transition: 0.1s;
          transition: 0.1s; }
  .wrapper content {
    background-color: #57B8FF;
    width: 69%; }
    .wrapper content .content_text {
      font-size: 31px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin-bottom: 20px; }
    .wrapper content .container .my_work {
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .wrapper content .container .my_work .work_wrapper {
        overflow: hidden; }
        .wrapper content .container .my_work .work_wrapper img {
          width: 100%;
          border-radius: 5px;
          -webkit-box-shadow: 0 0 3px 0px #0300ff;
                  box-shadow: 0 0 3px 0px #0300ff;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transition: 1s;
          transition: 1s; }
        .wrapper content .container .my_work .work_wrapper:hover.work_wrapper img {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-transition: 1s;
          transition: 1s; }
        .wrapper content .container .my_work .work_wrapper:hover::before {
          content: "просмотр";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          color: #fff;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 5px;
          width: 100%;
          height: 100%;
          z-index: 99999; }

.footer footer {
  height: 200px;
  background: #2176AE;
  width: 99%;
  margin-left: 0.5%;
  margin-top: 20px; }
.footer_text {
  font-size: 31px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }
/*# sourceMappingURL=style.css.map */